    <!----------------------------- footer section ----------------------------->
    <footer>
        <div class="row">
            <div class="col">
                <div class="footer_heading">Dreamz</div>
                <p class="footer_content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, voluptatum!</p>
            </div>
            <div class="col">
                <div class="c1">
                <h3>Office <div class="underline"><span></span></div> </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicin</p>
                <a class="email_id" href="#">devangt101003@gmail.com</a>    
                <h6>+91-1234567890</h6>
                </div>                        
            </div>
            <div class="col">
                <div class="c2">
                <h3>Links <div class="underline"><span></span></div> </h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Features</a></li>
                </ul>
                </div>
            </div>
            <div class="col">
                <div class="c3">
                <h3>Newsletter <div class="underline"><span></span></div> </h3>
                <form action="/" method="post">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" name="email" placeholder="enter your email id" required>
                    <button type="submit">
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </form>
                <div class="icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-instagram"></i>
                </div>
                </div>
            </div>
         </div>
         <hr>
    </footer>
    </body>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>

    <script>
        
    </script>
  
  </html>