<%- include('partials/footer') %>

  <div class="loader"></div>
    <!----------------------------Navbar Section---------------------->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Dreamz</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href='index.ejs'>Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#menu1">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#div2">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#div3">About</a>
              </li>
              <% if(login===false){ %>
                <li class="nav-item">
                  <a class="nav-link" href='login'>login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href='login'>SignUp</a>
                </li>
              <% } %>
              <% if(login==true){ %>
                <li class="nav-item">
                  <a class="nav-link" href='logout'>logout</a>
                </li>
              <% } %>
            </ul>
          </div>
          </div>
        </div>
      </nav>

    <!----------------------------Hero Section----------------------->
    <div class="hero">
        <div class="hero_content">
            <h1 class="animate-hero">Dreamz</h1>
            <p class="hero_details">Cafe and restaurant</p>
            <a href="#" class="button animate-hero-button">Order Online</a>
        </div>
    </div>

    <!------------------ services ------------------------>
    <div class="services">
      <div class="services_container">
        <div id="div1">
        <p class="topline animate-service">Features</p>
          <h1 class="services_heading animate-service">What we offer</h1>
          <div class="services_features">
            <p class="services_feature animate-service">
              <i class="fas fa-check-circle"></i>Online food services
            </p>
            <p class="services_feature animate-service">
              <i class="fas fa-check-circle"></i>Food delivery
            </p>
            <p class="services_feature animate-service">
              <i class="fas fa-check-circle"></i>Satisfied services
            </p>
            <p class="services_feature animate-service">
              <i class="fas fa-check-circle"></i>Provide live music
            </p>
            <p class="services_feature animate-service">
              <i class="fas fa-check-circle"></i>Gift cards
            </p>
            <p class="services_feature animate-service">
              <i class="fas fa-check-circle"></i>Free Wifi
            </p>
          </div>
          </div>

          <div>
            <img src="services1.jpg" alt="gym" class="services_img animate-img">
          </div>
      </div>
    </div>

    <!--------------------- Membership Selction ------------------------->
    <div class="membership" id="div2">
      <h1 class="animate-membership">Our Services</h1>
      <!-- <p class="membership_desc animate-membership">Get started today and receive 255 off on your first month</p> -->
      <div class="membership_container">
      <div>
      <div class="membership_wrapper">
        <div class="membership_card animate-card">
          <div class="membership_title">
            <img class="membership_img" src="order online.png" alt="">
            <!-- <i class="fas fa-dumbbell card-icon"></i> -->
            <h2>Easy to order</h2>
          </div>
          <!-- <div class="membership_perks">
            <p>Get access to the entire gym</p>
            <p>$29 per month</p>
          </div>
          <a href="#" class="button">Sign Up</a> -->
        </div>
      </div>
    </div>

      <div>
      <div class="membership_wrapper">
        <div class="membership_card animate-card">
          <div class="membership_title">
            <!-- <i class="fas fa-bicycle card-icon"></i> -->
            <img class="membership_img" src="delivery 2.png" alt="">
            <h2>Fast Delivery</h2>
          </div>
          <!-- <div class="membership_perks">
            <p>Get access to the entire gym</p>
            <p>Group Fitness Classes</p>
            <p>$49 per month</p>
          </div>
          <a href="#" class="button">Sign Up</a> -->
        </div>
      </div>
    </div>

      <div>
      <div class="membership_wrapper">
        <div class="membership_card animate-card">
          <div class="membership_title">
            <!-- <i class="fas fa-dumbbell card-icon"></i> -->
            <img class="membership_img" src="best.png" alt="">
            <h2>Best Quality</h2>
          </div>
          <!-- <div class="membership_perks">
            <p>Get access to the entire gym</p>
            <p>Group Fitness Classes</p>
            <p>Personal Trainer</p>
            <p>$99 per month</p>
          </div>
          <a href="#" class="button">Sign Up</a> -->
        </div>
      </div>
    </div>
    </div>
    </div>

    <!------------------------------------------------Menu---------------------------->
    <p class="menu_heading" id="menu1">CUISINE</p>
        <div class="heading">
        <div class="feature-box">
          <a href='burger'><img class="menu_img" src="burger.jpg" alt=""></a>
        </div>

        <div class="feature-box">
          <a href='sandwich'><img class="menu_img" src="sendwich.jpg" alt=""></a>
        </div>

        <div class="feature-box">
          <a href='pizza'><img class="menu_img" src="pizza.jpg" alt=""></a>
        </div>

        <div class="feature-box">
          <a href='chinese'><img class="menu_img" src="chainese.jpg" alt=""></a>
        </div>
    </div>  

    <!--------------------------------------------- Team section ----------------------------------->
    <div class="team" id="div3">
      <div class="team_wrapper">
        <div class="text_container">
          <div class="team_text1">
            <p class="topline animate-team1">A few words about cafe</p>
            <!-- <h1 class="animate-team1">Meat Our Trainers</h1> -->
            <p class="team_desc animate-team1">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, explicabo ea nisi voluptate quos aliquid sint. Nulla, maxime. Voluptas ullam dolorem, minima exercitationem quasi provident?
            </p>
          </div>
        </div>

        <div class="text_container">
        <div class="team_text2">
          <p class="topline animate-team2">Our Chefs</p>
          <!-- <h1 class="animate-team2">7 Days Trial</h1> -->
          <p class="team_desc animate-team2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat quod corporis aliquam, provident doloribus rem!
          </p>
        </div>
      </div>

        <div class="team_card card1">
          <img src="chef1.jpg" alt="person" class="team_img animate-img1">
        </div>

        <div class="team_card card2">
          <img src="cusions1.jpg" alt="person" class="team_img animate-img2">
        </div>

        <div class="team_card card1">
          <img src="cusions2.jpg" alt="person" class="team_img animate-img3">
        </div>

        <div class="team_card card2">
          <img src="chef2.jpg" alt="person" class="team_img animate-img4">
        </div>
      </div>
    </div>

    <!-------------------------------------- email section ---------------------------->
    <div class="email">
      <div class="email_content">
        <h1 class="animate-email">Get access to members only perks</h1>
        <p class="animate-email">Sign up for our newsletter below</p>
        <form action="/" method="post">
          <div class="form_wrap">
            <label for="email">
              <i class="fa-solid fa-envelope"></i>
              <input type="email" name="emailInput" placeholder="Enter your email" id="email" class="animate-email">
            </label>
            <button class="button" name="submit" type="submit" class="animate-email">Sign Up</button>
          </div>
        </form>
      </div>
    </div>

<%- include('partials/footer') %>